body {
  background: url(../img/main-bg.jpg) no-repeat fixed center top;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

.center-text {
  text-align: center;
}

.title {
  font-size: 8em;
  margin-top: 15%;
}

.mail {
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 2.5em;
}

.mail, .mail:hover, .mail:visited, .mail:active, .mail:focus {
  color: white;
  text-decoration: none;
}

.socialMedia img {
  margin: 20px 0;
}
